.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  background-color: #4a45ca;
  z-index: 1;
  position: fixed;
}

.leftSection {
  display: flex;
  flex-direction: column;
}

.rightSection {
  display: flex;
  flex-direction: column;
}

.labels {
  margin-top: 10px;
}

.buttonSection {
  display: flex;
  flex-direction: row;
  margin: auto;
}
