.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  /* //background-image: url('../images/repeated.jpg'); */
}
.parallax1 {
  background-image: url('../images/parallax1.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  background-image: url('../images/parallax2.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3 {
  background-image: url('../images/parallax3.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: #d68924;
  width: 100%;
  z-index: 1;
}

.logoDiv {
  margin-left: 2%;
}

.searchDiv {
  width: 100%;
  margin-top: 7px;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
}

.searchIcon {
  background-color: white;
  border-bottom: solid 1px #e5e5e5;
  border-top: solid 1px #e5e5e5;
  border-right: 1px solid white;
  margin-bottom: 8px;
  cursor: pointer;
}
.searchIconStyle {
  margin-top: 4px;
}
.loginDiv {
  background-color: white;
  margin-left: 7%;
  margin-bottom: 11px;
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  padding-left: 3%;
  padding-right: 3%;
  border: solid 1px #e5e5e5;
  cursor: pointer;
}
.loginSpan {
  color: #d68924;
  margin-top: 8px;
  margin-left: 2%;
  font: bold 13px/100% Verdana, Tahoma, sans-serif;
}
input {
  padding: 9px;
  padding-left: 15px;
  border-left: solid 1px #e5e5e5;
  border-top: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
  border-right: 1px solid white;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  background: #ffffff;
  width: 50%;
  margin-bottom: 8px;
}

.cartDiv {
  display: flex;
  flex-direction: row;
  margin-left: 4%;
  cursor: pointer;
}

.cartSpan {
  color: white;
  font: bold 13px/100% Verdana, Tahoma, sans-serif;
  margin-left: 10%;
  margin-top: 13px;
}

/* Slideshow container */
.slideshowContainer {
  display: flex;
  flex-direction: row;
  width: 98%;
  margin: auto;
  height: 310px;
  margin-top: 70px;
}
.slidePics-enter {
  opacity: 0;
}
.slidePics-enter-active {
  opacity: 1;
  transition: opacity 2000ms cubic-bezier(0.22, 1, 0.36, 1);
}

.slidePics-exit {
  opacity: 1;
}
.slidePics-exit-active {
  opacity: 0;
  transition: opacity 2000ms cubic-bezier(0.64, 0, 0.78, 0);
}
.catimage-enter {
  opacity: 0;
}
.catimage-enter-active {
  opacity: 1;
  transition: opacity 3000ms cubic-bezier(0.22, 1, 0.36, 1);
}
.catimage-appear {
  transform: scale(0.1);
}
.catimage-appear-active {
  transform: scale(0.1);
  transition: transform 2000ms cubic-bezier(0.22, 1, 0.36, 1);
}
.salesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.salesRow {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  background-image: url('../images/repeated.jpg');
}

.catCard {
  display: flex;
  flex-direction: column;
  border: 1px solid #db8412;
  font: normal 10px/100% Verdana, Tahoma, sans-serif;
  background-color: #fed8b1;
  margin-left: 1%;
  margin-right: 1%;
  width: 31%;
}

.catCard:nth-child(3n + 2) {
  margin-left: 2%;
}
.catHeading {
  padding: 1%;
  padding-left: 5%;
  align-self: center;
  color: #db8412;
}

.imageDiv {
  margin-top: 10px;
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5%;
  cursor: pointer;
}

.categoryImage {
  height: 220px;
  margin-bottom: 20px;
}

.viewMore {
  display: flex;
  flex-direction: row;
  opacity: 1;
  transition: opacity 900ms;
  cursor: pointer;
}
/*
.viewMoreEnabled {
  display: flex;
  flex-direction: row;
  opacity: 0;
  transition: opacity 900ms;
} */
